body {
    font: 100% arial, sans-serif;
}

.container {
	float: left;
}

input {
    margin: 6px;
    border-style:inset;
    border-color: #FFFF66;
    border-width: 1px;
    font: 100% arial, sans-serif;
}

.title {
    background-color: #FFD700;
    text-indent: 7px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.toolbar {
    padding: 5px;
}

.list {
    padding: 5px;
}

.section {
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.monitor {
    background-color: #F9F7BA;
    float: left;
    -moz-box-shadow: 7px 7px 8px #818181;
    margin: 20px;
}

.log {
    clear: both;
    float: left;
    padding-top: 20px;
    margin: 20px;
}

.numeric {
    font: 100% arial, sans-serif;
    text-align: right;
    float: right;
}

.section_label {
    font: 100% arial, sans-serif;
    padding-left: 2px;
}

/* Widget Styling */

.share-widget {
	width: 570px;
	height: 140px;
	float: left;
	margin: 5px;
	padding: 2px;
}

.share-header {
	width: 200px;
	padding: 5px;
	float: left;
	height: 100%;
}

.share-data {
	width: 350px;
	float: right;
	padding: 5px;
	height: 100%;
	overflow-y: scroll;
}

.share-header > input, .share-header > div {
	margin-bottom: 5px;
}

.shareline {
	list-style-type: none;
}

.share-data ul {
	padding: 0;
	margin: 0;
}

.shareline div {
	width: 33.33%;
	display: block;
	float: left;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
}

/* Input Styling */

.btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;	
	border-radius: 0px;
	border-width: 0px;
	color: #ffffff;
	font-size: 14px;
	padding: 8px 16px 8px 16px;
	text-decoration: none;
	margin: 0px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-right {
	border-left-width: 1px;
	border-color: #2980b9;
}

.btn-left {
	border-right-width: 1px;
	border-color: #2980b9;
}

.dropdown {
	width: 100%;
	position: relative;
	display: inline-block;
}

.dropdown .btn {
	width: 100%;
}

.dropdown .content {
	display: none;
    position: absolute;
	font-size: 12px;
    min-width: 160px;
	width: 100%;
	max-height: 150px;
	overflow-y: scroll;
    background-color: #f9f9f9;
    z-index: 1;
	padding: 0;
	margin: 0;
}

.dropdown .content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .content {
    display: block;
}

.full-width {
	width: 100%;
}
