@charset "utf-8";
/**
 * The common stylesheet that will maintain relevant styling that can be
 * generically applied to future assignments. This avoids trivial rewrites
 * of styling for components such as columns, inputs and navigation bars.
 *
 * @author Zachary Thompson (1287280)
 */
 

 /**
 * Styles divs that occupy a specified fraction of available screen space.
 * This is a fairly ugly approach, but for the context of the assignment(s)
 * this should be sufficient.
 *
 */

.container {
	float: left;
}

.container.col-12 {
	width: 100%;
}

.container.col-11 {
	width: 91.66%;
}

.container.col-10 {
	width: 83.33%;
}

.container.col-9 {
	width: 75%;
}

.container.col-8 {
	width: 66.66%;
}

.container.col-7 {
	width: 58.33%;
}

.container.col-6 {
	width: 50%
}

.container.col-5 {
	width: 41.66%;
}

.container.col-4 {
	width: 33.33%;
}

.container.col-3 {
	width: 25%;
}

.container.col-2 {
	width: 16.66%;
}

.container.col-1{
	width: 8.33%;
}

.center {
	text-align: center;
	margin-left: auto;
}

/**
 * Styles various input and input groups. The overall concept is to allow
 * various input groups that look half-decent to be used in future without
 * the need of reimplementing.
 */

.btn-group {
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}

.btn-group .btn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;	
	border-radius: 0px;
	border-width: 0px;
	color: #ffffff;
	font-size: 14px;
	padding: 8px 16px 8px 16px;
	text-decoration: none;
	margin: 0px;
}

.btn-group .btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-group .btn-right {
	border-left-width: 1px;
	border-color: #2980b9;
}

.btn-group .btn-left {
	border-right-width: 1px;
	border-color: #2980b9;
}


.input-group {
	height: auto;
}

.input-group .input {
	width: 100%;
	margin: 4px 0px;
	padding: 8px;
	border: 1px solid #ccc;
	font-size: 13px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.input-group label {
	font-size: 14px;	
}

.full-width {
	width: 100%;
}

input.form-control {
	margin: 10px;
	width: 100%;
}

.check-input {
	vertical-align: middle;
}

.check-input {
	font-size: 110%;
}

/**
 * Styles the generic navigation bar.
 */

.navbar {
	position: relative;
	display: flex;
	flex-direction: column;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

.navbar li a {
	text-decoration: none;
	display: block;
	text-align: center;
	color: black;
	padding: 10px 10px;
}

.navbar li {
	display: inline;
	float: left;
}

.navbar-vert li {
	float: none;
}

.navbar-vert {
	width: 100%;
}

.navbar-vert ul {
	background-color: white;
}

.navbar-vert a.active {
	background-color: #4CAF50;
	color: white;
}

.navbar a:hover:not(.active) {
	background-color: #555;
	color: white;
}
