/**
 * The primary stylesheet for Assignment 1. Handles styling of the
 * non-generic components and works in conjunction with the common
 * stylesheet that will be used in future to avoid excessive rewrite
 * of trivial styling.
 *
 * @author Zachary Thompson (1287280)
 */

 
* {
    box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 2000px;
	margin: 0 auto;
    height: 100%;
}

/**
 * Styles the list that displays the users that are registered to
 * the website. The user currently associated with the server session
 * is indicated using a red dot, all other users logged in are indicated
 * using a green dot while all remaining users are shown without a dot.
 * By default, the server orders the list in this order.
 */

#user_list ul {
	margin: 0;
	padding: 0;
}

#user_list ul li {
	cursor: pointer;
	position: relative;
	padding: 8px 8px 8px 20px;
	background: #eee;
	font-size: 16px;
	transition: 0.2s;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#user_list ul li:nth-child(odd) {
	background: #ddd;
}

#user_list ul li:hover {
	/*background: #ddd;*/
}

#user_list ul li.online {
	/*background: rgb(66, 183, 42);*/
}

#user_list ul li.offline {
	/*background: #FF0000;*/
}

#user_list ul {
	overflow:hidden;
	overflow-y: scroll;
	max-height: 500px;
}

.status {
	border-radius: 50%; 
	display: table-cell;
	float: right;
	height: 10px;
	width: 10px;
	margin: 4px;
}

.status.online {
	background: rgb(66, 183, 42); 
}

.status.user {
	background: red;
}

.content {
	padding: 10px;
}

/**
 * Styles the messages that are fetch from the server. There are currently
 * three types of messages; global, inbox and outbox. They are formatted
 * almost identically, however, subtle differences are used to obscure
 * irrelevant information. For example, you know who the sender is when you
 * are within your Outbox, you know who the recipient is when you are in 
 * your Inbox and you know who the recipient is when you are in the Global.
 */

#messages {
	list-style: none;
	list-style-position: inside;
	padding: 0px 10px;	
	margin: 0px;
	overflow-y: scroll;
	height: 500px;
}

.message {
	padding: 3px;
	vertical-align: middle;
}

.message .header {
	font-size: 14px;
	display: inline-block;
	font-weight: bold;
	padding-right: 5px;
}

.message .date {
	font-size: 11px;
	display: inline-block;
	padding-right: 5px;
}

.message .subject {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 10px;
	padding-right: 5px;
}

.message .body {
	font-size: 12px;
	display: inline-block;
	padding-right: 5px;
}

.message.global .to {
	display: none;
}

.message.inbox .to {
    display: none;
}

.message.outbox .from {
    display: none;
}

/**
 * Styles the login and registration form that is used to collected information
 * from a user to allow login or registration.
 */

#login-form {
	padding: 5px;
	max-width: 500px;
	margin: 0 auto;
}

#form-toggle {
	margin-bottom: 10px;
}

#login-block {
	width: 100%;
}

#register-block {
	width: 100%;
}

/**
 * Styles the section that the user defines a message to be sent.
 */

#message-form {
    padding: 10px;
}

#recipient-input {
    width: 50%;
}
