body {
	width: 100%;
	height: 1200px;
}

.map {
	width: 100% - 50px;
	height: 500px;
	margin: 25px;
	background-color: grey;
	z-index: 10;
}

.town-content {
	margin: 0px;
	padding: 0px;
}

.town {
	list-style-type: none;
	height: 160px;
	padding: 5px;
	margin: 0px;
}

.sunrise, .sunset {
	width: 100%;
	display: block;
	font-size: 12px;
	white-space: nowrap;
}

.weather-container {
	height: 90%;
	overflow: hidden;
	overflow-y: scroll;
	position:relative;
}

.weather {
	height: 200px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.weather-info {
	overflow: none;
	list-style-type: none;
	width: calc(33.33% - 4px);
	display: block;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
}

.weather-date {
	font-size: 13px;
	display: inline;
}

.weather-type {
	font-size: 13px;
	display: inline;
}

.weather-description {
	font-size: 11px;
}

.weather-temp {
	font-size: 11px;
}
